game.log
/.obsidian

# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.ipch

# Build results
Debug/
Release/
x64/
x86/
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc